.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 8px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;

  span.title {
    cursor: pointer;
    display: flex;
    border-radius: 5px;
    padding: 4px 12px;
    
    &:hover {
      background-color: rgba(gray, 0.1);
    }
    
    &:active {
      background-color: rgba(gray, 0.2);
    }
  }
}

